@import '../utils/vars';

.EditSchedule {
    height: 90%;
    padding: 50px 80px;
    overflow-y: scroll;

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__btn {
            margin-bottom: 20px;
            text-decoration: none;
        }
    }

    .titulo {
        text-align: center;
    }

    .alert{
        color: $naranja-color;
        text-align: center;
        margin-bottom: 40px;
    }

    .dia {
        &__titulo {
            width: 10%;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
            background-color: $azul-color;
            color: white;
            padding: 10px 0;
            font-size: 1.3em;
            font-weight: 600;
        }

        .inp-cont {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .label-cont {
                width: 80%;
            }

            h3 {
                width: 90%;
            }
        }

        .btn-mas {
            text-align: right;
            color: $naranja-color;
            font-weight: 800;
            margin-top: 40px;
        }
    }

    .horasTotales{
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .btn {
        width: 20%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
