@import '../utils/vars';

.Excusas{
    #inp0{
        width: 100%;
        margin-bottom: 50px;
        background: none;
    }

    .soporte-cont{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h3{color: $naranja-color}

        .dropZone{
            border: solid 1px $naranja-color;
            border-radius: 30px;
            height: 150px;
            width: 60%;
            @include centrado();
        }
    }

    .titulo{
        @include font-size(40px);
        align-self: flex-start;
        margin-bottom: 10px;
    }

    .anteriores{
        width: 100%;
        max-height: 20%;
        @include scrollBar();
        .exc-row{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;

            p{
                width: 20%;
                text-align: center;
            }
            
            .id{
                text-align: left;
                width: 5%;
            }

            .razon{
                text-align: left;
                width: 40%;
                @include scrollBar();
                overflow-x: hidden;
                &:hover {
                    overflow-x: auto
                }
            }

            .item{
                color: $gris-color;
            }

            .tit{
                color: $azul-color;
            }
        }


    }

}