@import '../utils/vars';

.Historial{
    .horas{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;

        h2{
            @include font-size(100px);
            color: $azul-color;
        }

        #perdidas{
            color: $naranja-color;
        }
    }

    .scheduler{
        height: 75%;
    }

    .MuiGrid-wrap-xs-nowrap{
        @include scrollBar();
        &::-webkit-scrollbar {
            width: 10px;
        }
    }

    .MuiButton-label{
        color: $gris-color;
    }

    .MuiToolbar-gutters{
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
    }

    .MuiTableRow-root{
        div{
            color: $gris-color;
            font-size: 15px;
        }
    }
}