@import '../utils/vars';

.Home{
    height: 100%;
    .first{
        @include width(685px);
        height: 100%;
    }
    .second{
        @include width(1235px);
        height: 965px/ 1080px * 100%;
        padding-right: 107px / 1235px * 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}