@import '../utils/vars';

.Home{
    height: 100%;
    .first{
        @include width(685px);
        height: 100%;
    }
    .second{
        @include width(1235px);
        height: 965px/ 1080px * 100%;
        padding-right: 107px / 1235px * 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .workArea{
            width: 100%;
            height: 100%;
            @include centrado();
            flex-direction: column;
        }

        .uno{
            .time{
                @include font-size(240px);
                font-weight: 400;
                margin-bottom: 0;
            }
            .date{
                @include font-size(66px);
                margin-bottom: 30px;
            }
            .Slider{
                display: flex;
                flex-direction: row;
                width: 460px;
                justify-content: space-between;
                *{transition: all 700ms ease-in-out;}
                .excusa{
                    #fecha{
                        color: $naranja-color;
                    }
                }

                button{
                    border: none;
                    background: none;
                    cursor: pointer;
                    @include font-size(36px);
                    color: $azul-color;
                }

                .img-container{
                    position: fixed;
                    left: 10%;
                    top: 20%;
                    height: 500px;
                    img{
                        border: solid #88b3ff 10px ;
                        cursor: pointer;
                    }
                }
            }

            .btn-cont{
                @include width2(560px, 1234px);
                min-width: 450px;
            }
        }

        .adicHour{
            z-index: 1;
            background-color: white;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 10px;

            .inps-cont{
                //width: 70%;
                opacity: 0;
                height: 50px;

                .label-cont{
                    width: 26%;
                    input{width: 62%;}
                }

                #esp{
                    width: 34%;
                }
            }

            .btn{width: 20%;}
        }
    }

    .Horario {
        //padding-top: 5%;
        .MuiTableRow-root{
            p{
                @include font-size(33px);
                text-align: center;
                color: $gris-color;
            }

            span{color: $gris-color}
            p ~ span {display: none}
        }

        .MuiToolbar-root{
            display: flex;
            flex-direction: row-reverse;
        }
        
        .MuiGrid-grid-xs-11{
            .MuiTableRow-root{
                height: 40px;
            }
        }
        .MuiTableBody-root{
            .MuiTableRow-root{
                height: 29px;
            }
        }

        .MuiGrid-wrap-xs-nowrap{
            @include scrollBar();
            &::-webkit-scrollbar {
                width: 10px;
            }
        }
    }
}