@import '../utils/vars';

.Home{
    height: 100%;
    .first{
        @include width(685px);
        height: 100%;
    }
    .second{
        @include width(1235px);
        height: 965px/ 1080px * 100%;
        padding-right: 107px / 1235px * 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .workArea{
            width: 100%;
            height: 100%;
            @include centrado();
            flex-direction: column;
        }

        .uno{
            .time{
                @include font-size(240px);
                //color: $azul-color;
                font-weight: 400;
                margin-bottom: 0;
            }
            .date{
                @include font-size(66px);
                //color: $azul-color;
                margin-bottom: 90px;
            }
            .btn-cont{
                @include width2(560px, 1234px);
                min-width: 450px;
            }

        }
    }

    .Horario {
        padding-top: 5%;
        .Cell-dayOfWeek-122{
            @include font-size(33px);
            text-align: center;
            color: $gris-color;
        }
        .Cell-text-138{color: $gris-color;}
        .Cell-dayOfMonth-123{display:none}
        
        .MuiGrid-grid-xs-11{
            .MuiTableRow-root{
                height: 40px;
            }
        }
        .MuiTableBody-root{
            .MuiTableRow-root{
                height: 29px;
            }
        }

        .MuiGrid-wrap-xs-nowrap{
            @include scrollBar();
            &::-webkit-scrollbar {
                width: 10px;
            }
        }
    }
}