@import '../utils/vars';

.Navigation{
    @include centrado();

    .nav-item{
        color: $gris-color;
        @include font-size(33px);
        text-decoration: none;
    }

    .sel{
        color: $naranja-color;
    }

    .btn{
        color: white;
        margin: 0;
    }
}