@import '../utils/vars';

.Progress{
    width: 100%;
    height: 100%;
    .img-container{
        height: 100%;
        min-height: 720px;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        
        img{
            height: 100%;
        }
    }

    .first{
        @include width2(28px, 685px);
        background-color: rgba($color: #fff, $alpha: .5);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .barra{
            background: $gradient-color;
            border-radius: 25px;
        }
    }

    .second{
        @include width2(656px, 685px);
        height: 965px/ 1080px * 100%;
        padding-left: 20px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;

        h4{
            align-self: flex-start;
            color: white;
            justify-self: flex-start;
            @include font-size(33px);
        }
        .advices-cont{
            margin-left: 65px;
            h3{
                @include font-size(46px);
                color: white;
                margin-bottom: 29px;
            }
        
            p{
                color: white;
                @include width2(390px, 656px);
            }
        }
    }
}