$azul-color: #88b3ff;
$naranja-color: #d6833c;
$gris-color: #c6c6c6;
$gradient-color: linear-gradient(90deg, rgba(231, 157, 90, 1) 0%, rgba(242, 208, 95, 1) 100%);

@mixin font-size($param){
    font-size: ($param / 1920px * 1200px);
}

@mixin width($param){
    width: $param / 1920px * 100%;
}

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin scrollBar {
    overflow-y: hidden;
    &:hover {
        overflow-y: auto
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: #888;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #f2f2f2;
    }
}

@mixin colums {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}